name: Deploy static content to Pages

on:
  push:
    branches: ["main"]  # 在主分支推送时触发
  workflow_dispatch:  # 允许手动触发

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4  # 检出代码

      - name: Setup Pages
        uses: actions/configure-pages@v5  # 配置 GitHub Pages

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          publish_dir: ./  # 发布整个仓库

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3  # 使用peaceiris/actions-gh-pages来部署文件
        with:
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # 上传整个仓库的内容
